// Text
$text-normal: #aaa;
$text-dim: #999;
$text-bright: #ccc;

// Accent
$accent: #97b7b7;
$accent-dim: #88a8a8;
$accent-intense: #006666;

// Backgrounds
$bg-brighter: #383838;
$bg-bright: #333;
$bg-medium-brighter: #2e2e2e;
$bg-medium-bright: #2c2c2c;
$bg-medium: #2a2a2a;
$bg-medium-dark: #282828;
$bg-medium-darker: #242424;
$bg-dark: #222;
$bg-darker: #181818;
$bg-base: #111;

// Borders
$border-normal: #444;

// Shadows
$shadow-bright: #333;
$shadow-medium-bright: #2a2a2a;
$shadow-medium-dark: #242424;
$shadow-dark: #111;
