@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

//=============================================================================
//  Shadows
//=============================================================================

@mixin shadow($size, $color) {
  box-shadow: 0 0 $size $size $color;
}

@mixin shadow-inset($size, $color) {
  box-shadow: 0 0 $size $size $color inset;
}

//=============================================================================
//  Backgrounds
//=============================================================================

@mixin bg-hex($color, $size) {
  background-color: $color;
  background-size: $size;
  background-image: url('../../public/img/decorative/hexagonal-tile.webp');
}

@mixin bg-lines($gap, $bg, $thickness, $color) {
  background: repeating-linear-gradient(
    -45deg,
    $bg 0, $bg $gap, 
    $color ($gap + 1px), $color ($gap + 1px + $thickness)
  );
}
