<!-- Header -->
<header>
  <h1>
    <span>Periodic Table </span>
    <span>of the Chemical Elements</span>
  </h1>
</header>

<!-- Table -->
@if (!selectedElememnt()) {
  <app-animated-background />
}
<app-table [(selectedElememnt)]="selectedElememnt" />

<!-- Overlay (Selected Element Data) -->
@if (selectedElememnt() !== undefined) {
  <div class="page-overlay" (click)="selectElement(undefined)">
    <app-animated-background class="overlay" />
    <app-element-info [(element)]="selectedElememnt" (click)="$event.stopPropagation()" />
  </div>
}

<!-- Footer -->
<footer>
  <div>Made with Angular</div>
  <div class="row">
    @for (link of footerLinks; track $index) {
      <a [href]="link.url" target="_blank">{{link.text}}</a>
      @if (!$last) {
        <span>|</span>
      }
    }
  </div>
</footer>
